boto3==1.17.8
botocore==1.20.8
jmespath==0.10.0
marshmallow==3.10.0
marshmallow-dataclass==8.3.1
mypy-extensions==0.4.3
python-dateutil==2.8.1
s3transfer==0.3.4
six==1.15.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.3
